*.pyc
test*.py*
test.txt
*.ini
.idea/
reserve/
warning/
report/
temp/
work/
error/
DATA/BaseRPO.db
DATA/BaseRPO_res.db
DATA/BaseRPO_old.db
DATA/Console/
DATA/Reserve/
BaseRPO.db
Console.lnk
cmd.exe
.gitignore.txt
*~
win.py
win.pyw
engine/desktop/
style/
wc
*.wc