* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    selection-background-color: #3a3f44;
    selection-color: #ffffff;
}

WCPushButton, WCPushButton:hover, WCPushButton:pressed {
    color: #262626;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    line-height: 1.42857143;
    text-align: center;
    margin-bottom: 0;
    padding: 6px 12px;
    white-space: nowrap;
    vertical-align: middle;
}

WCPushButton{
    color: #555555;
}

WCPushButton:hover {
    color: #ffffff;
    background-color: #272b30;
    border: 1px solid #272b30;
}

WCPushButton:checked {
    color: #ffffff;
    background-color: #3a3f44;
    border: 1px solid #272b30;
}

WCPushButton:pressed {
    color: #ffffff;
    background-color: #3a3f44;
    border: 1px solid #272b30;
}

WCPushButton:disabled {
    background-color: #eaeaea;
    color: #bebebe;
    border-color: #cccccc;
}

WCStatusButton, WCStatusButton[checked=false] {
    color: #eeeeee;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    border: 1px solid #272b30;
    background-color: #272b30;
    line-height: 1.42857143;
    text-align: center;
    margin-bottom: 0;
    padding: 2px 4px;
    white-space: nowrap;
    vertical-align: middle;
}

WCStatusButton:hover, WCStatusButton[checked=true] {
    color: #ffffff;
    background-color: #3a3f44;
    border: 1px solid #272b30;
}

WCStatusButton[pressed=true] {
    color: #262626;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

WCStatusButton #text {
    color: #eeeeee;
}

WCStatusButton #text[pressed=true] {
    color: #262626;
}

WCStatusButton #status {
    background-color: dimgray;
    border: 1px solid #cccccc;
}

WCStatusButton #status[state='normal'] {
    background-color: dimgray;
    border: 1px solid #cccccc;
}

WCStatusButton #status[state='on'] {
    background-color: #4e9c4e;
    border: 1px solid #cccccc;
}

WCStatusButton #status[state='off'] {
    background-color: #b22d2d;
    border: 1px solid #cccccc;
}

WCStatusButton #status[state='wait'] {
    background-color: #e19317;
    border: 1px solid #cccccc;
}

WCStatusButton #status[select=true] {
    border: 1px solid #cccccc;
}

WCStatusButton #status[pressed=true] {
    border: 1px solid #3a3f44;
}

WCStatusButton:disabled, WCStatusButton #text:disabled{
    background-color: #eaeaea;
    color: #bebebe;
    border-color: #cccccc;
}

WCStatusButton #status[checked=true] {
}

WCStatusButton #text[checked=true] {
}

WCMessageBoxTimer {
    background-color: #fff;
    color: #555555;
    border: 1px solid #cccccc;
}

WCMessageBoxTimer #image {
    border: 1px solid #cccccc;
}

WCMessageBoxTimer #message {
    font-size: 18px;
    color: #555555;
}

WCMessageBoxTimer #timer {
    font-size: 13px;
}

WCToolTipMessages {
    color: #555555;
    background-color: #fff;
    border: 1px solid #cccccc;
}

WCToolTipMessages #title {
    font-size: 12px;
    font-weight: bold;
}

WCToolTipMessagesGrass #title {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

WCToolTipMessagesGrass #text {
    color: #ffffff;
}

WCLineEdit, WCLineEdit:disabled, WCCommandLine, WCDisplay, WCLabel, WCClearLabel {
    text-transform: none;
    text-indent: 0;
    text-align: start;
    border: 1px solid #cccccc;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    height: 34px;
    width: 100%;
    margin-bottom: 0;
    padding: 6px 6px;
    white-space: nowrap;
    vertical-align: middle;
}

WCLineEdit:disabled, WCCommandLine:disabled, WCDisplay:disabled, WCLabel:disabled, WCClearLabel:disabled {
    background-color: #e6e6e6;
    color: gray;
}

WCProgressBar {
    color: #3a3f44;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin: 1px;
    border-radius: 2px;
}

WCProgressBar::chunk {
    background-color: #3a3f44;
    margin: 1px;
    border-radius: 2px;
}

WCProgressBar[half=true] {
    color: #cccccc;
}

WCDisplayPanel {
    background-color: #ffffff;
    color: #555555;
    font-weight: bold;
    border: 1px solid #cccccc;
    border-bottom: none;
    padding: 2px 2px 2px 2px;
}

WCDisplayPanel WCLineEdit:focus{

}

WCDisplay #menu {
    background-color: #fff;
    color: #555555;
    border: 1px solid #cccccc;
}

WCDisplay #menu::item{
    min-height: 30px;
    min-width: 100px;
    background-color: transparent;
    padding: 2px 5px 2px 40px;
    border: none;
}

WCDisplay #menu::item:selected{
    background-color: #3a3f44;
    color: #ffffff;
}

WCDisplay #menu::separator{
    height: 1px;
    background-color: #bebebe;
}

WCDisplay #menu::icon{
    padding: 2px 10px 2px 5px;
    border: none;
}

WCConsole WCCommandLine {
    border-top: 0;
}

WCClearLabel {
    border: none;
    background-color: transparent;
    color: #555555;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
}

WCFlagUserKeyboard {
    text-transform: none;
    text-indent: 0;
    text-align: start;
    border: 1px solid #cccccc;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    height: 34px;
    width: 100%;
    margin-bottom: 0;
    padding: 6px 6px;
    white-space: nowrap;
    vertical-align: middle;
}

WCConsole WCFlagUserKeyboard {
    border-left: none;
    border-right: none;
    border-top: none;
}

WCStatusBar {
    background: #f0f0f0;
    font-family: Consolas;
    color: #1d1d1d;
    font-weight: bold;
    font-size: 14px;
}

WCStatusBar::item {
    border: none;
}

WCStatusBar QLabel {
    font-family: Consolas;
    color: gray;
    font-weight: normal;
    font-size: 12px;
}

WCMenuBar {
    top: 0;
    left: 0;
    background: #f0f0f0;
    width: 100%;
    min-height: 23px;
    border-bottom: 1px solid #bebebe;
    border-top: 1px solid #bebebe;
}

WCMenuBar::item {
    color: #262626;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    border: 1px solid #cccccc;
    border-left: 1px solid #f0f0f0;
    border-bottom: none;
    line-height: 1.42857143;
    text-align: center;
    margin-bottom: 0;
    padding: 6px 12px;
    white-space: nowrap;
    vertical-align: middle;
}

WCMenuBar::item:selected {
    color: #fff;
    background-color: #272b30;
    border: 1px solid #272b30;
}

WCMenuBar::item:pressed {

}

WCMenu {
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    margin: 0;
}

WCMenu::item {
    min-height: 30px;
    min-width: 100px;
    background-color: transparent;
    padding: 2px 5px 2px 40px;
    border: none;
}

WCMenu::item:selected {
    color: #fff;
    background-color: #3a3f44;
}

WCMenu::icon {
    padding: 2px 10px 2px 5px;
    border: none;
}

WCMenu::separator {
    height: 1px;
    background-color: #bebebe;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #ffffff;
}
